<div class="card card-body">
  <h4>Propose an Activity</h4><br>
  <form action="/activities" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" >
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" ></textarea>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" ></textarea>
    </div><br>
    <button type="submit" class="btn">Submit</button>
  </form>
  
</div>