{{#each activities}}

<div class="card card-body mb-4">
  <h4>{{name}}</h4>
  <p> {{description}} </p>
  <a class="btn btn-dark btn-block mb-2" style="width: 100px" href="../activities/detail/{{id}}">Go</a>
</div>

{{/each}}