<div class="jumbotron text center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">What this is about....<br>multi-line text description etc?</p>
  <a href="/activities/add" class="btn btn-dark btn-lg">Add Activities</a>
  </div>